.inner-settings {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.game-settings,
.music-selection {
	width: 50%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.setting-ckeckbox {
	display: block;
	padding: 10px 0;
	position: relative;
	margin-bottom: 1.8rem;
	padding-right: 10%;
	cursor: pointer;
}

.quality-item {
	display: block;
	position: relative;
}

.item-text {
	min-width: 32px;
	font-size: 1.7rem;
	text-align: center;
}

.setting-item p {
	font-size: 1.7rem;
}

.setting-ckeckbox input,
.quality-item input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark,
.radio-checkmark {
	position: absolute;
	top: 50%;
	right: 0;
	height: 32px;
	width: 32px;
	transform: translateY(-50%);
	border: 2px solid #ccc;
	border-radius: 20%;
}

.radio-checkmark {
	top: 200%;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	transform: translate(0, 0);
}

.setting-ckeckbox:hover input ~ .checkmark,
.quality-item:hover input ~ .radio-checkmark {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid white;
}

.setting-ckeckbox input:checked ~ .checkmark {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ccc;
	border-radius: 20%;
}

.checkmark:after,
.radio-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.setting-ckeckbox input:checked ~ .checkmark:after,
.quality-item input:checked ~ .radio-checkmark:after {
	display: block;
}

.setting-ckeckbox .checkmark:after {
	left: 50%;
	top: 50%;
	width: 4px;
	height: 12px;
	border: solid #fff;
	border-width: 0 5px 6px 0;
	transform: translate(-50%, -60%) rotate(45deg);
}

.quality-item .radio-checkmark:after {
	left: 50%;
	top: 50%;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}


.top-block {
	margin-bottom: 7.5rem;
}


.quality-settings {
	display: flex;
	justify-content: space-between;
}

.quality-settings .item-text,
.quality-settings .radio-checkmark {
	display: block;
}
