doctype html
html(lang='en')
	head
		title MOVE UP GAME
		meta(name='description', content='Game base on Three.js by Serhii Synianskyi')
		meta(name='keywords', content='MoveUpGame, Move up game, moveupgame, StarWars, WebGL, Three.js, Synianskyi')
		meta(name='author', content='Serhii Synianskyi')
		meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0, minimal-ui')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(http-equiv='imagetoolbar', content='no')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='address=no')
		link(rel="manifest" href="./manifest.json")
		link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
		link(rel='apple-touch-icon', href='images/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='120x120', href='images/touch-icon-iphone-retina.png')
		link(rel='apple-touch-icon', sizes='152x152', href='images/touch-icon-ipad-retina.png')
		meta(name='msapplication-square150x150logo', content='images/custom-icon-150.png')
		meta(name='msapplication-square310x310logo', content='images/custom-icon-310.png')
		meta(name='msapplication-wide310x150logo', content='images/custom-icon-310x150.png')
		meta(http-equiv='Cache-Control', content='no-cache')
	body
		.main-wrapper
			.main-game-wrapper
				.game-data-wrapper
					.top-menu
						.camera-modes
							button.menu-icon
							button.mode.active(data-mode='1')
							button.mode(data-mode='2')
							button.mode.full-screen
						button.track-ball
					ul#main-menu
						li(data-menu='continue') Continue
						li(data-menu='maps') Maps
						li(data-menu='scores') Scores
						li(data-menu='settings') Settings
						li(data-menu='credits') Credits
						li(data-menu='exit') Exit game
					.score-data
						p SCORES:
						output.scores(name='scores')
					#fps
				.end-game-wrapper
					p.end-game-text you are defeated
					output.end-game-scores
					form#user-form
						input.user-name(type='text', name='userName', pattern='[a-zA-Z0-9_-]{2,20}', placeholder='YOUR NAME', required='', autocomplete='off')
						input(type='submit', value='SUBMIT')
					button.restart-game RESTART
				#menu-subwrappers.hidden
					.subwrapper.maps-wrapper(data-subwrapper='maps')
						h2 MAPS
					.subwrapper.scores-wrapper(data-subwrapper='scores')
						div
							table.scores-head-table
								thead
									th
									th SCORE
									th NAME
							.scores-table-wrapper
								table.scores-table
					.subwrapper.settings-wrapper(data-subwrapper='settings')
						h2 SETTINGS
						.inner-settings
							.game-settings
								.setting-item
									p Scene effects
								.setting-item
									p FPS meter
								.setting-item
									p Enable music
								.setting-item
									p Shadows
							.music-selection
						p.version v1.0.0
					.subwrapper.credits-wrapper(data-subwrapper='credits')
						h2 CREDITS
						p In 2017 year I visited my first WSD in Kiev. This conference changed and inspired me....
						p This little game is my first experience in GameDev and WebGL technology.
						p I hope you enjoy it and you will not be critical to all bugs in the user interface =)
						p If you have any questions, wishes or offers, you can easily communicate with me and tell me your ideas <a href="mailto:kfzadrser@gmail.com">kfzadrser@gmail.com</a>

						p Enjoy and create your own worlds!
						p developed by S+ in 2018
			#nipple-wrapper.hidden
