html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: black;
}

#control-wrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgba(95, 105, 115, 0.4);
    z-index: 100;
}

.inner-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
}

.control {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../control.png') center center/ 65% 65% no-repeat;
    opacity: 0.2;
    z-index: 101;
}

.up {
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0) rotate(-90deg);
}

.left {
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(-180deg);
}

.right {
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.down {
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0) rotate(90deg);
    ;
}

.control:active {
    opacity: 0.8;
}

.info {
    position: absolute;
    top: 20px;
    right: 20px;
}

.info p {
    font: 500 20px/1 Arial;
    color: white;
}
.other-info {
    position: absolute;
    top:200px;
    right: 200px;
}

.other-info p {
    color: white;
}
/*/////////////////////////////////////////////// - TOP MODES*/
.top-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    height: 60px;
    width: 60px;
    background-color: rgb(20,20,20);
}


.camera-modes {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 30px;
}

.camera-modes .mode {
    width: 40px;
    height: 40px;
    border-radius:50%;
    opacity: 0.2;
}

.mode.active {
    opacity: 0.9;
}

.mode[data-mode='1']{
  background: rgb(100,100,100) url('../images/home.png') center center/ 55% 55%  no-repeat;
}

.mode[data-mode='2']{
  background: rgb(100,100,100) url('../images/mode2.png') center center/ 70% 70%  no-repeat;
}

.mode[data-mode='3']{
  background: rgb(100,100,100) url('../images/mode3.png') center center/ 70% 70%  no-repeat;
}

.track-ball {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    border-radius:50%;
    background: rgb(100,100,100) url('../images/trackball.png') center center/ 55% 55%  no-repeat;
    opacity: 0.2;
}
.track-ball.active {
    opacity: 0.9;
}

#fps  {
    position: absolute;
    bottom: 0;
    left: 0;
}
#fps>div{
    position: relative !important;
}

/*@media screen and (orientation:portrait) {*/
    /*html{*/
        /*transform: rotate(-90deg);*/
        /*transform-origin: left top;*/
        /*position: absolute;*/
        /*top: 100%;*/
        /*left: 0*/
    /*}*/
/*}*/